.container{
    height: 200px;
    width: 600px;
    background-color: greenyellow;
    position: relative;
    top: 100px;
    left: 100px;
}
.children{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    top: 20px;
    left: 20px;
}
.children-1{
    height: 50px;
    width: 50px;
    background-color: aqua;
    position: absolute;
    right: -10px;
}
.sidebar{
    width: 250px;
    height: 100vh;
    background-color: yellowgreen;
    position: fixed;
   
}
.overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:rgba(0, 0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    height: 300px;
    width: 500px;
    background-color: #fff;
    z-index: 100;
}
.header{
    height: 100px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
}