.input {
height:  36px;
border-radius: 4px;
outline: none;
padding: 0 16px;
border:1px solid #bdbdbd;
min-width: 200px;
}
.input:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.input:focus{
    border-color: #3621cc;
}
.input::placeholder{
    color: red;
    font-style: italic;
    
}
.input-search{
    background-image: url(https://cdn-icons-png.flaticon.com/128/54/54481.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 5% center;

}